BOTNOI_TOKEN=
BOTNOI_API_BASE_URL=https://api-voice.botnoi.ai/api/voicebot
# Endpoint สำหรับส่งข้อความสนทนาเข้า Botnoi AI
BOTNOI_API_URL=
# Endpoint สำหรับแปลงข้อความเป็นเสียง Botnoi
BOTNOI_TTS_URL=
BOTNOI_SPEAKER_ID=523
# Endpoint สำหรับสร้าง confirmation template
BOTNOI_CONFIRM_TEMPLATE_URL=
BOTNOI_OUTBOUND_CALL_URL=
BOTNOI_TEMPLATE_ID=
BOTNOI_BOT_ID=69c39e5ab114409d08f2979a
